<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
  package="com.pacificoseguros.securitystorage.security_storage">
  
  <application
    android:name="pe.com.pacifico.securitystorage"
  >
    <activity android:name=".MainActivity">

    </activity>
    <meta-data
      android:name="flutterEmbedding"
      android:value="2" />
  </application>
</manifest>
